p Ciao #{name},
p è stato appena effettutato un accesso con il tuo account <b>#{account}</b> su MisterCompliance.it
p Qualora non le risulti un accesso, le consigliamo di accedere a MisterCompliance.it, modificare la propria password e contattare il suo amministratore immediatamente

div(style={'background-color':'red', color:'white', height:'25px', padding: '5px'}) 
  p <b>Perchè ricevo questa email ?</b>

  p MisterCompliance.it tiene nella giusta considerazione ogni elemento della configurazione che possa rendere più sicuro la sua esperienza nell'applicazione
  p Il suo amministratore ha attivato questo tipo di notifica per intercettare eventuali accessi non autorizzati o fraudolenti

  br
  hr
  p Il team di MisterCompliance.it

