p Ciao #{name},
p è stata fatta richiesta di receuperare le credenziali di accesso su MisterCompliance.it per il tuo account
p IIl tuo nome utente è:<b>#{username}</b>
p La password temporanea è il seguente PIN:<b>#{pin}</b> (valido per #{duration} minuti)

p <b>Perchè ricevo questa email ?</b>

p Qualcuno ha chiesto il recupero delle credenziali dalle schermata di login. Se non è stato lei semplicemente ignori questa email. La sua password non è stata nè violata, nè cambiata

br
hr
p Il team di MisterCompliance.it

