p Ciao #{name},
p è stata creata una password di accesso temporaneo per MisterCompliance.it per il tuo account <b>#{account}</b>
p La password temporanea è:<b>#{password}</b>

p <b>Perchè ricevo questa email ?</b>

p Il tuo amministratore ha rigenerato la tua password con una temporanea che dovrai utilizzare al prossimo accesso. Ti verrà richiesto di modificarla con una a tua scelta, secondo le policy di sicurezza attive

br
hr
p Il team di MisterCompliance.it

